@font-face {
    font-family: ClearSans;
    src: url("./cs-light.woff") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: ClearSans;
    src: url("./cs-thin.woff") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: ClearSans;
    src: url("./cs-regular.woff") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: ClearSans;
    src: url("./cs-medium.woff") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: ClearSans;
    src: url("./cs-bold.woff") format("woff2");
    font-weight: 700;
}