@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}

#main {
  height: 100%;
  min-height: 75vh;
  color: #0A0A0A;
  background: linear-gradient(to right, #D4FCE1, #EAFFE5);
  padding: 15vh 15vw 10vh 15vw;
}

#title {
  font-size: 3em;
  font-weight: 600;
}
